In [2]:
import pandas as pd
from bs4 import BeautifulSoup 
from tqdm import tqdm 
import requests as rq

In [4]:
df = pd.read_csv("BookScrapping.csv")

In [107]:
data =  []
for link in tqdm(df["book_link"]):
    res = rq.get(link)
    soup = BeautifulSoup(res.text, "html.parser")
    # take the type of it
    typ = soup.find("ul", class_ = "breadcrumb").find_all("a")[2].text
   
    UPC          = soup.find("table", class_ = "table table-striped").find_all("td")[0].text
    Price_el_tx  = soup.find("table", class_ = "table table-striped").find_all("td")[2].text[2:]
    Price_in_tx  = soup.find("table", class_ = "table table-striped").find_all("td")[3].text[2:]
    Tax          = soup.find("table", class_ = "table table-striped").find_all("td")[4].text[2:]
    qnty         = soup.find("table", class_ = "table table-striped").find_all("td")[5].text
    reviews      = soup.find("table", class_ = "table table-striped").find_all("td")[6].text
  
    data.append([UPC, Price_el_tx, Price_in_tx, Tax, qnty, reviews])

100%|██████████| 1000/1000 [28:11<00:00,  1.69s/it]

In [117]:
df = pd.DataFrame(data, columns = ["UPC", "Price_el_tx", "Price_in_tx", "Tax", "qnty", "reviews"])
df

,UPC,Price_el_tx,Price_in_tx,Tax,qnty,reviews
0,a897fe39b1053632,51.77,51.77,0.00,In stock (22 available),0
1,90fa61229261140a,53.74,53.74,0.00,In stock (20 available),0
2,6957f44c3847a760,50.10,50.10,0.00,In stock (20 available),0
3,e00eb4fd7b871a48,47.82,47.82,0.00,In stock (20 available),0
4,4165285e1663650f,54.23,54.23,0.00,In stock (20 available),0
...,...,...,...,...,...,...
995,cd2a2a70dd5d176d,55.53,55.53,0.00,In stock (1 available),0
996,bfd5e1701c862ac3,57.06,57.06,0.00,In stock (1 available),0
997,19fec36a1dfb4c16,16.97,16.97,0.00,In stock (1 available),0
998,f684a82adc49f011,53.98,53.98,0.00,In stock (1 available),0
999,228ba5e7577e1d49,26.08,26.08,0.00,In stock (1 available),0

In [119]:
df.to_csv("Scrabbookpage.csv", index = False)